#titulo{
  margin: 1%;
  border: black 10px solid;
}

#introduccion{

}

#stw{
  margin: 1%;
  padding: 1%;
  border: black 2px solid;


}

ul>li {
   list-style-type: square;
}
ul>li>ul>li {
   list-style-type: circle;
}

#footer{
  position: relative;
	bottom: 0;

}
